<h3 class="page-heading" data-aos="fade-in">Innerpage</h3>
<!-- Table Start -->
<div data-aos="fade-up">
    <app-table [paginationEnabled]="true"></app-table>
</div>
<!-- Table End -->
<mat-card class="form-card">
    <mat-card-content>
        <h4 class="heading-h4" data-aos="fade-up">Form Elements</h4>
        <!-- Single Column Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">One Column</h5>
        </div>
        <div class="row section-row">
            <div class="col-12" data-aos="fade-up">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput value="John Doe">
                </mat-form-field>
            </div>
            <div class="col-12" data-aos="fade-up">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
            </div>
            <div class="col-12" data-aos="fade-up">
                <mat-form-field appearance="outline">
                    <mat-label>Textarea</mat-label>
                    <textarea rows="3" matInput></textarea>
                </mat-form-field>
            </div>
        </div>
        <!-- Single Column Start -->

        <!-- Two Column Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Two Column</h5>
        </div>
        <div class="row overflow-hidden section-row">
            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="100">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput value="John Doe">
                </mat-form-field>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="200">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="300">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="400">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Two Column End -->

        <!-- Three Column Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Three Column</h5>
        </div>
        <div class="row section-row overflow-hidden">
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="600">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Three Column End -->

        <!-- Four Column Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Four Column</h5>
        </div>
        <div class="row section-row overflow-hidden">
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="100">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="200">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="200">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="300">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="400">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="500">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="600">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="700">
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                        <mat-option value="option1">Option 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Four Column End -->

        <!-- File Upload Start -->
        <h4 class="heading-h4 other-element-heading" data-aos="fade-in">Other Form Elements</h4>
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">File Upload</h5>
        </div>
        <div class="file-upload-outer" data-aos="fade-up">
            <div class="input-wrapper">
                <button mat-flat-button color="primary">
                    <mat-icon>
                        <img src="./assets/images/file-upload-icon.svg" alt="File Upload" />
                    </mat-icon>
                    Upload
                </button>
                <input type="file" id="file-upload" />
            </div>
            <p>No File Selected</p>
        </div>
        <!-- File Upload End -->

        <!-- Checkbox Start -->
        <div class="section-heading checkbox-heading" data-aos="fade-up">
            <h5 class="heading-h5">Checkboxes</h5>
        </div>
        <div class="checbox-outer" data-aos="fade-up">
            <mat-checkbox color="primary">Option 1</mat-checkbox>
            <mat-checkbox color="primary">Option 2</mat-checkbox>
            <mat-checkbox color="primary">Option 3</mat-checkbox>
        </div>
        <!-- Checkbox End -->

        <!-- Radio Button Start -->
        <div class="section-heading radio-heading" data-aos="fade-up">
            <h5 class="heading-h5">Radio Buttons</h5>
        </div>
        <mat-radio-group aria-label="Select an option" class="radio-outer" data-aos="fade-up">
            <mat-radio-button color="primary" value=" 1">Option 1</mat-radio-button>
            <mat-radio-button color="primary" value=" 2">Option 2</mat-radio-button>
            <mat-radio-button color="primary" value=" 3">Option 3</mat-radio-button>
        </mat-radio-group>
        <!-- Radio Button End -->

        <!-- Buttons Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Buttons</h5>
        </div>
        <div class="btn-outer" data-aos="fade-up">
            <button mat-flat-button color="primary">Primary</button>
            <button mat-stroked-button color="primary">Secondary</button>
        </div>
        <!-- Buttons End -->

        <!-- Snackbar Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Snackbar</h5>
        </div>
        <div class="row snack-row overflow-hidden">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="snackbar-outer error">
                    <span matSnackBarLabel class="snack-label">
                        <mat-icon>
                            <img src="./assets/images/snackbar-error-icon.svg" alt="Error">
                        </mat-icon>
                        This is an error message!
                    </span>
                    <span matSnackBarActions class="action-btn">
                        <button mat-icon-button matSnackBarAction>
                            <mat-icon>
                                <img src="./assets/images/snackbar-close-icon.svg" alt="Close" />
                            </mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="snackbar-outer info">
                    <span matSnackBarLabel class="snack-label">
                        <mat-icon>
                            <img src="./assets/images/snackbar-info-icon.svg" alt="Info">
                        </mat-icon>
                        This is an information message!
                    </span>
                    <span matSnackBarActions class="action-btn">
                        <button mat-icon-button matSnackBarAction>
                            <mat-icon>
                                <img src="./assets/images/snackbar-close-icon.svg" alt="Close" />
                            </mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="snackbar-outer warning">
                    <span matSnackBarLabel class="snack-label">
                        <mat-icon>
                            <img src="./assets/images/snackbar-warning-icon.svg" alt="Warning">
                        </mat-icon>
                        This is a warning message!
                    </span>
                    <span matSnackBarActions class="action-btn">
                        <button mat-icon-button matSnackBarAction>
                            <mat-icon>
                                <img src="./assets/images/snackbar-close-icon.svg" alt="Close" />
                            </mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="snackbar-outer success">
                    <span matSnackBarLabel class="snack-label">
                        <mat-icon>
                            <img src="./assets/images/snackbar-success-icon.svg" alt="Success">
                        </mat-icon>
                        This is a success message!
                    </span>
                    <span matSnackBarActions class="action-btn">
                        <button mat-icon-button matSnackBarAction>
                            <mat-icon>
                                <img src="./assets/images/snackbar-close-icon.svg" alt="Close" />
                            </mat-icon>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Snackbar End -->

        <!-- Tabs Start -->
        <div class="section-heading" data-aos="fade-up">
            <h5 class="heading-h5">Tabs</h5>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" data-aos="fade-up">
            <mat-tab label="Tab 1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum nisi, cras non congue amet, eu
                interdum. Purus vulputate odio eget curabitur porttitor tempus ipsum. Amet risus aenean tortor sed
                lacus, nunc. Velit semper ullamcorper at tortor pellentesque augue vehicula sed viverra. Quam sit
                adipiscing egestas etiam nunc adipiscing non luctus cursus. Pretium nunc, scelerisque mauris aliquet
                vulputate erat. Sem condimentum nullam pharetra ac sagittis. Vel nulla sed in pharetra. Sit mauris id id
                nascetur. Sem gravida euismod ac convallis.
            </mat-tab>
            <mat-tab label="Tab 2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum nisi, cras non congue amet, eu
                interdum. Purus vulputate odio eget curabitur porttitor tempus ipsum. Amet risus aenean tortor sed
                lacus, nunc. Velit semper ullamcorper at tortor pellentesque augue vehicula sed viverra. Quam sit
                adipiscing egestas etiam nunc adipiscing non luctus cursus.
            </mat-tab>
            <mat-tab label="Tab 3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum nisi, cras non congue amet, eu
                interdum. Purus vulputate odio eget curabitur porttitor tempus ipsum.
            </mat-tab>
        </mat-tab-group>
        <!-- Tabs End -->
    </mat-card-content>
</mat-card>