<nav class="sidebar">
    <ul class="navbar">
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="/dashboard" title="Dashboard" routerLinkActive="active"
                class="nav-link" (click)="removeMenu()" data-aos="fade-right">
                <i>
                    <span>
                        <img src="./assets/images/dashboard-primary-icon.svg" alt="Dashboard" />
                        <img src="./assets/images/dashboard-default-icon.svg" alt="Dashboard" />
                        <img src="./assets/images/dashboard-active-icon.svg" alt="Dashboard" />
                    </span>
                </i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="/innerpage" title="Pages" routerLinkActive="active"
                class="nav-link" (click)="removeMenu()" data-aos="fade-right" data-aos-delay="200">
                <i>
                    <span>
                        <img src="./assets/images/page-primary-icon.svg" alt="Pages" />
                        <img src="./assets/images/page-default-icon.svg" alt="Pages" />
                        <img src="./assets/images/page-active-icon.svg" alt="Pages" />
                    </span>
                </i>
                <span class="nav-label">Pages</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Mails" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="300">
                <i>
                    <span>
                        <img src="./assets/images/email-primary-icon.svg" alt="Mails" />
                        <img src="./assets/images/email-default-icon.svg" alt="Mails" />
                        <img src="./assets/images/email-active-icon.svg" alt="Mails" />
                    </span>
                </i>
                <span class="nav-label">Mails</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Orders" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="400">
                <i>
                    <span>
                        <img src="./assets/images/orders-primary-icon.svg" alt="Orders" />
                        <img src="./assets/images/orders-default-icon.svg" alt="Orders" />
                        <img src="./assets/images/orders-active-icon.svg" alt="Orders" />
                    </span>
                </i>
                <span class="nav-label">Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Calendar" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="500">
                <i>
                    <span>
                        <img src="./assets/images/calendar-primary-icon.svg" alt="Calendar" />
                        <img src="./assets/images/calendar-default-icon.svg" alt="Calendar" />
                        <img src="./assets/images/calendar-active-icon.svg" alt="Calendar" />
                    </span>
                </i>
                <span class="nav-label">Calendar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Help" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="600">
                <i>
                    <span>
                        <img src="./assets/images/help-primary-icon.svg" alt="Help" />
                        <img src="./assets/images/help-default-icon.svg" alt="Help" />
                        <img src="./assets/images/help-active-icon.svg" alt="Help" />
                    </span>
                </i>
                <span class="nav-label">Help</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Setting" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="700">
                <i>
                    <span>
                        <img src="./assets/images/settings-primary-icon.svg" alt="Setting" />
                        <img src="./assets/images/settings-default-icon.svg" alt="Setting" />
                        <img src="./assets/images/settings-active-icon.svg" alt="Setting" />
                    </span>
                </i>
                <span class="nav-label">Setting</span>
            </a>
        </li>
    </ul>
</nav>